<div class="col-lg-12 top-buffer-5">
  <div class="col-lg-12">
    <div class="div-hr"></div>
    <div class="col-lg-6 blue p-l-0 title">
      Wholesale Access Interface
    </div>
    <div class="col-lg-3 col-lg-offset-3 lh-30">
      <logout class="pull-right"></logout>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="div-hr"></div>
    <div class="col-lg-4 p-l-0">
      <button type="button" pButton label="Home" class="col-lg-5"></button>
    </div>
    <div class="col-lg-4 col-lg-offset-4 p-r-0">
      <button type="button" pButton label="Back" class="col-lg-4 pull-right"></button>
      <drop-down-menu class="col-lg-5 pull-right"></drop-down-menu>
    </div>
  </div>

  <div class="col-lg-12 top-buffer-5">
    <app-panel></app-panel>
  </div>
</div>
